{% extends "dashboard/master.html" %}
{% load humanize %}
{% block title%}Details for the job {{ item.name }}{% endblock %}
{% block content %}
<table>
		<tr><th>Job ID</th><td>{{ item.id }}</td></tr>
		<tr><th>Job name</th><td>{{ item.name }}</td></tr>
		<tr><th>Frequency</th><td>{{ item.frequency }}</td></tr>
		<tr><th>Last run time</th><td>{{ item.run_time }}</td></tr>
		<tr><th>SLA</th><td>{{ item.sla }}</td></tr>
		<tr><th>Updated on</th><td>{{ item.updated_on }}</td></tr>
</table>

{% endblock %}
